
<!-- HEADER FIXO -->
<header id="appHeader" class="header">
  <div class="header-left">
    <button id="btnSidebar" class="btn-menu" aria-label="Menu">
      <span class="material-icons">menu</span>
    </button>
    <div class="logo">
      <i class="material-icons">local_shipping</i>
      CTRC Analyzer
    </div>
  </div>
  
  <nav class="header-actions">
    <i class="material-icons" title="Ajuda" onclick="mostrarTelaAjuda()">help</i>
    <button class="btn-sair" onclick="confirmarLogout()" title="Sair">
      <i class="material-icons">exit_to_app</i>
      <span>Sair</span>
    </button>
  </nav>
</header>

