
<!-- SIDEBAR -->
<aside class="sidebar" id="appSidebar">
  <div class="sidebar-user">
    <i class="material-symbols-outlined">account_circle</i>
    <div class="user-details">
      <span class="user-name" id="nomeUsuarioSidebar">Usuário</span>
      <span class="user-role" id="perfilUsuario">Operador</span>
    </div>
  </div>
  
  <ul class="sidebar-menu">
    <li onclick="mostrarTelaPerfil()" class="menu-item" data-tela="perfil">
      <i class="material-symbols-outlined">person</i>
      <span>Meu Perfil</span>
    </li>
    <li onclick="mostrarTelaDashboard()" class="menu-item active" data-tela="dashboard">
      <i class="material-symbols-outlined">dashboard</i>
      <span>Dashboard</span>
    </li>
    <li onclick="mostrarTelaPesquisa()" class="menu-item" data-tela="pesquisa">
      <i class="material-symbols-outlined">search</i>
      <span>Pesquisa</span>
    </li>
    <li onclick="mostrarTelaTickets()" class="menu-item" data-tela="tickets">
      <i class="material-symbols-outlined">support</i>
      <span>Tickets</span>
    </li>
    <li onclick="toggleSubMenu('configMenu')" class="menu-item has-submenu" data-tela="config">
      <i class="material-symbols-outlined">settings</i>
      <span>Configurações</span>
      <i class="material-symbols-outlined submenu-arrow">keyboard_arrow_down</i>
    </li>
    <ul class="submenu" id="configMenu">
      <li onclick="mostrarTelaConfigSistema()" class="submenu-item">
        <i class="material-symbols-outlined">palette</i>
        <span>Sistema</span>
      </li>
      <li onclick="mostrarTelaCadastro()" class="submenu-item admin-only">
        <i class="material-symbols-outlined">folder</i>
        <span>Cadastros</span>
      </li>
    </ul>
  </ul>
</aside>

